#### Import packages

In [2]:
import pandas as pd
import plotly.express as px

#### Load Dataset

In [15]:
gamesales = pd.read_csv('./vgsales[1].csv')

#### Data Cleaning

In [7]:
gamesales.info

<bound method DataFrame.info of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

In [8]:
gamesales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [17]:
gamesales.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
200,201,Super Mario Bros.,GB,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07
201,202,Resident Evil,PS,1996.0,Action,Virgin Interactive,2.05,1.16,1.11,0.73,5.05
202,203,Tony Hawk's Pro Skater,PS,1999.0,Sports,Activision,3.42,1.38,0.02,0.20,5.02
203,204,Super Smash Bros. for Wii U and 3DS,WiiU,2014.0,Fighting,Nintendo,2.59,1.06,0.80,0.57,5.02
204,205,Warzone 2100,PS,1999.0,Strategy,Eidos Interactive,2.79,1.89,0.00,0.33,5.01

In [16]:
gamesales = gamesales.loc[gamesales['Global_Sales'] > 5]

In [18]:
gamesales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [23]:
gamesalesNA = gamesales[['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales']]
gamesalesNA = gamesalesNA.sort_values(by = 'NA_Sales')
gamesalesNA = gamesalesNA.iloc[::-1]
gamesalesNA.head(2)

                Name Platform    Year     Genre Publisher  NA_Sales
0         Wii Sports      Wii  2006.0    Sports  Nintendo     41.49
1  Super Mario Bros.      NES  1985.0  Platform  Nintendo     29.08

In [28]:
moderngamesalesNA = gamesalesNA.loc[gamesalesNA['Year'] > 2010]
moderngamesalesNA.head(3)

,Name,Platform,Year,Genre,Publisher,NA_Sales
23,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63
29,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03
35,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25

In [24]:
gamesalesEU = gamesales[['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'EU_Sales']]
gamesalesEU = gamesalesEU.sort_values(by = 'EU_Sales')
gamesalesEU = gamesalesEU.iloc[::-1]
gamesalesEU.head(2)

             Name Platform    Year   Genre Publisher  EU_Sales
0      Wii Sports      Wii  2006.0  Sports  Nintendo     29.02
2  Mario Kart Wii      Wii  2008.0  Racing  Nintendo     12.88

In [31]:
moderngamesalesEU = gamesalesEU.loc[gamesalesEU['Year'] > 2010]
moderngamesalesEU.head(3)

,Name,Platform,Year,Genre,Publisher,EU_Sales
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,9.27
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,6.06
34,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,5.88

In [25]:
gamesalesJP = gamesales[['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'JP_Sales']]
gamesalesJP = gamesalesJP.sort_values(by = 'JP_Sales')
gamesalesJP = gamesalesJP.iloc[::-1]
gamesalesJP.head(2)

,Name,Platform,Year,Genre,Publisher,JP_Sales
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,10.22
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,7.20

In [30]:
moderngamesalesJP = gamesalesJP.loc[gamesalesJP['Year'] > 2010]
moderngamesalesJP.head(3)

,Name,Platform,Year,Genre,Publisher,JP_Sales
73,Animal Crossing: New Leaf,3DS,2012.0,Simulation,Nintendo,4.36
32,Pokemon X/Pokemon Y,3DS,2013.0,Role-Playing,Nintendo,4.34
81,Pokemon Black 2/Pokemon White 2,DS,2012.0,Role-Playing,Nintendo,3.14

#### Exploratory Data Analysis

In [32]:
moderngamesalesNA.head(10) # Shooters seem to be popular in recent years

,Name,Platform,Year,Genre,Publisher,NA_Sales
23,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63
29,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03
35,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01
61,Call of Duty: Ghosts,X360,2013.0,Shooter,Activision,6.72
65,Halo 4,X360,2012.0,Shooter,Microsoft Game Studios,6.63
60,Just Dance 3,Wii,2011.0,Misc,Ubisoft,6.05
33,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
72,Minecraft,X360,2013.0,Misc,Microsoft Game Studios,5.58
37,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.54

In [33]:
moderngamesalesEU.head(10) # A variety of genres # EA is popular

,Name,Platform,Year,Genre,Publisher,EU_Sales
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,9.27
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,6.06
34,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,5.88
37,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.82
44,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,5.81
33,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.81
23,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,5.31
82,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,5.05
112,FIFA 14,PS3,2013.0,Sports,Electronic Arts,4.32
121,FIFA 12,PS3,2011.0,Sports,Electronic Arts,4.32

In [34]:
moderngamesalesJP.head(10) # Nintendo is dominating the market

,Name,Platform,Year,Genre,Publisher,JP_Sales
73,Animal Crossing: New Leaf,3DS,2012.0,Simulation,Nintendo,4.36
32,Pokemon X/Pokemon Y,3DS,2013.0,Role-Playing,Nintendo,4.34
81,Pokemon Black 2/Pokemon White 2,DS,2012.0,Role-Playing,Nintendo,3.14
49,Pokemon Omega Ruby/Pokemon Alpha Sapphire,3DS,2014.0,Role-Playing,Nintendo,3.08
42,Mario Kart 7,3DS,2011.0,Racing,Nintendo,2.67
64,New Super Mario Bros. 2,3DS,2012.0,Platform,Nintendo,2.47
97,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,Nintendo,2.42
53,Super Mario 3D Land,3DS,2011.0,Platform,Nintendo,2.13
188,Tomodachi Life,3DS,2013.0,Simulation,Nintendo,1.89
108,Mario Kart 8,WiiU,2014.0,Racing,Nintendo,1.27

In [35]:
gamesalesJP.head(10) # They have been for a while

,Name,Platform,Year,Genre,Publisher,JP_Sales
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,10.22
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,7.20
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,6.81
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,6.50
20,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.04
26,Pokemon Black/Pokemon White,DS,2010.0,Role-Playing,Nintendo,5.65
25,Pokemon Ruby/Pokemon Sapphire,GBA,2002.0,Role-Playing,Nintendo,5.38
41,Animal Crossing: Wild World,DS,2005.0,Simulation,Nintendo,5.33
27,Brain Age 2: More Training in Minutes a Day,DS,2005.0,Puzzle,Nintendo,5.32
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,4.70